* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #21242b;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.display-none {
    display: none;
}